annotated-doc
annotated-types 
anyio
asttokens
certifi
charset-normalizer
click
colorama 
contourpy
cycler
decorator
docker
executing
fastapi
fonttools
h11 
idna 
ipython 
ipython_pygments_lexers 
jedi
joblib 
kiwisolver
matplotlib
matplotlib-inline
numpy
packaging
pandas
parso
pillow
prompt_toolkit
pure_eval
pydantic
pydantic_core
Pygments 
pyparsing
python-dateutil
pywin32
requests
scikit-learn
scipy
seaborn
six
stack-data  
starlette   
threadpoolctl
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth